Repository RyosukeMondo/heart-beat2: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=500']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: mixed-line-ending
        name: Check line endings

  # Rust checks
  - repo: local
    hooks:
      - id: cargo-check
        name: Cargo check
        entry: bash -c 'cd rust && cargo check --all-features'
        language: system
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: Cargo clippy
        entry: bash -c 'cd rust && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: \.rs$

      - id: cargo-fmt
        name: Cargo format
        entry: bash -c 'cd rust && cargo fmt --all -- --check'
        language: system
        pass_filenames: false
        files: \.rs$

      - id: cargo-test-lib
        name: Cargo test (unit tests only)
        entry: bash -c 'cd rust && cargo test --lib'
        language: system
        pass_filenames: false
        files: \.rs$

  # Flutter/Dart checks
  - repo: local
    hooks:
      - id: flutter-format
        name: Flutter format
        entry: bash -c 'flutter format --set-exit-if-changed lib/'
        language: system
        pass_filenames: false
        files: \.dart$

      - id: flutter-analyze
        name: Flutter analyze
        entry: bash -c 'flutter analyze'
        language: system
        pass_filenames: false
        files: \.dart$

test(audio-notifications): fix audioplayers plugin mocking in tests
  test/services/audio_feedback_service_test.dart
Due: flutter-format, flutter-analyze

docs(latency-benchmarks): design comprehensive latency measurement approach
  .spec-workflow/specs/latency-benchmarks/Implementation Logs/task-1_2026-01-13T0440_19d3ab2f.md
  .spec-workflow/specs/latency-benchmarks/tasks.md
  docs/LATENCY-MEASUREMENT.md
Due: none

feat(latency-benchmarks): add receive timestamp to HR data structures
  rust/examples/stream_hr.rs
  rust/src/api.rs
  rust/src/domain/heart_rate.rs
  rust/src/scheduler/executor.rs
  rust/tests/latency_test.rs
  rust/tests/pipeline_integration.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

docs(latency-benchmarks): mark task 2 as completed
  .spec-workflow/specs/latency-benchmarks/tasks.md
Due: none

feat(latency-benchmarks): instrument BLE notification handler with timestamps
  rust/src/adapters/btleplug_adapter.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

docs(latency-benchmarks): mark task 3 as completed
  .spec-workflow/specs/latency-benchmarks/Implementation Logs/task-3_2026-01-13T0454_8a49c4eb.md
  .spec-workflow/specs/latency-benchmarks/tasks.md
Due: none

docs(latency-benchmarks): mark tasks 5 and 6 as completed
  .spec-workflow/specs/latency-benchmarks/Implementation Logs/task-2_2026-01-13T0449_7df6896b.md
  .spec-workflow/specs/latency-benchmarks/Implementation Logs/task-5_2026-01-13T0457_87998498.md
  .spec-workflow/specs/latency-benchmarks/Implementation Logs/task-6_2026-01-13T0457_a092b8dd.md
  .spec-workflow/specs/latency-benchmarks/tasks.md
Due: none

feat(latency-benchmarks): add latency tracking and logging in Flutter
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  lib/src/screens/session_screen.dart
  lib/src/screens/workout_screen.dart
  lib/src/services/latency_service.dart
Due: flutter-format, flutter-analyze

docs(latency-benchmarks): mark task 4 as completed
  .spec-workflow/specs/latency-benchmarks/tasks.md
Due: none

feat(latency-benchmarks): enhance CI benchmark workflow for main branch
  .github/workflows/benchmark.yml
Due: none

docs(latency-benchmarks): mark task 7 as completed
  .spec-workflow/specs/latency-benchmarks/tasks.md
Due: none

docs(latency-benchmarks): add comprehensive latency budget documentation
  docs/LATENCY.md
Due: none

docs(latency-benchmarks): mark task 8 as completed
  .spec-workflow/specs/latency-benchmarks/tasks.md
Due: none

docs(latency-benchmarks): add comprehensive validation guide and analysis tools
  docs/LATENCY-VALIDATION-TEMPLATE.md
  docs/LATENCY-VALIDATION.md
  scripts/analyze_latency.py
Due: none

docs(latency-benchmarks): mark task 9 as completed
  .spec-workflow/specs/latency-benchmarks/Implementation Logs/task-9_2026-01-13T0513_cff4a6d7.md
  .spec-workflow/specs/latency-benchmarks/tasks.md
Due: none

docs(test-coverage-audit): mark task 1 as completed - cargo-tarpaulin installed
  .spec-workflow/specs/test-coverage-audit/tasks.md
Due: none

docs(test-coverage-audit): complete task 2 - baseline coverage measurement
  .spec-workflow/specs/test-coverage-audit/baseline-coverage-report.md
  .spec-workflow/specs/test-coverage-audit/tasks.md
  rust/coverage/tarpaulin-report.html
Due: none

docs(test-coverage-audit): complete task 3 - tarpaulin configuration
  .spec-workflow/specs/test-coverage-audit/tarpaulin-config-guide.md
  .spec-workflow/specs/test-coverage-audit/tasks.md
  rust/tarpaulin.toml
Due: none

docs(test-coverage-audit): complete task 4 - coverage gap analysis
  .spec-workflow/specs/test-coverage-audit/Implementation Logs/task-4_2026-01-13T0556_9e207d22.md
  .spec-workflow/specs/test-coverage-audit/coverage-gap-analysis.md
  .spec-workflow/specs/test-coverage-audit/tasks.md
Due: none

test(domain): achieve 100% test coverage for domain layer
  rust/coverage/cobertura.xml
  rust/coverage/tarpaulin-report.html
  rust/src/domain/export.rs
  rust/src/domain/session_progress.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

docs(test-coverage-audit): mark task 5 as completed - domain layer 100% coverage
  .spec-workflow/specs/test-coverage-audit/tasks.md
Due: none

test(adapters): add comprehensive tests for btleplug_adapter
  rust/src/adapters/btleplug_adapter.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

docs(test-coverage-audit): mark task 6 as completed - adapter layer coverage
  .spec-workflow/specs/test-coverage-audit/tasks.md
Due: none

test(state): add comprehensive tests for state machine coverage
  rust/src/state/connectivity.rs
  rust/src/state/session.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

docs(test-coverage-audit): mark task 7 as completed - state machine coverage
  .spec-workflow/specs/test-coverage-audit/tasks.md
Due: none

test(scheduler): add comprehensive executor tests for 78% coverage
  rust/src/scheduler/executor.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

docs(test-coverage-audit): mark task 8 as completed - executor coverage
  .spec-workflow/specs/test-coverage-audit/Implementation Logs/task-8_2026-01-13T1141_be3e5e9a.md
  .spec-workflow/specs/test-coverage-audit/tasks.md
Due: none

ci(coverage): migrate from cargo-llvm-cov to cargo-tarpaulin
  .github/workflows/coverage.yml
Due: none

docs(test-coverage-audit): mark task 9 as completed - CI coverage workflow
  .spec-workflow/specs/test-coverage-audit/Implementation Logs/README.md
  .spec-workflow/specs/test-coverage-audit/Implementation Logs/task-4_2026-01-13T0556_9e207d22.md
  .spec-workflow/specs/test-coverage-audit/Implementation Logs/task-5_2026-01-13T0612_c2ed5d30.md
  .spec-workflow/specs/test-coverage-audit/Implementation Logs/task-6_2026-01-13T0622_abe1a2c1.md
  .spec-workflow/specs/test-coverage-audit/Implementation Logs/task-7_2026-01-13T0938_7012e19d.md
  .spec-workflow/specs/test-coverage-audit/Implementation Logs/task-9_2026-01-13T1155_a623fede.md
  .spec-workflow/specs/test-coverage-audit/tasks.md
Due: none

docs(readme): update coverage section to use cargo-tarpaulin
  README.md
Due: none

docs(test-coverage-audit): mark task 10 as completed - README coverage docs
  .spec-workflow/specs/test-coverage-audit/Implementation Logs/task-10_2026-01-13T1157_ce245a7d.md
  .spec-workflow/specs/test-coverage-audit/tasks.md
Due: none

docs(test-coverage-audit): add final coverage verification report
  .spec-workflow/specs/test-coverage-audit/final-coverage-report.md
Due: none

docs(test-coverage-audit): mark task 11 as completed - coverage verification
  .spec-workflow/specs/test-coverage-audit/Implementation Logs/task-11_2026-01-13T1206_00d9ab49.md
  .spec-workflow/specs/test-coverage-audit/tasks.md
Due: none

feat(flutter-widget-tests): set up widget test infrastructure
  test/README.md
  test/helpers/mock_api.dart
  test/helpers/test_helpers.dart
  test/widget_test.dart
Due: flutter-format, flutter-analyze

docs(flutter-widget-tests): mark task 1 as completed
  .spec-workflow/specs/flutter-widget-tests/Implementation Logs/task-1_2026-01-13T1212_b55c57eb.md
  .spec-workflow/specs/flutter-widget-tests/tasks.md
Due: none

feat(flutter-widget-tests): add comprehensive HrDisplay widget tests
  .spec-workflow/specs/flutter-widget-tests/tasks.md
  test/widgets/hr_display_test.dart
Due: flutter-format, flutter-analyze

feat(flutter-widget-tests): add comprehensive ZoneIndicator widget tests
  .spec-workflow/specs/flutter-widget-tests/tasks.md
  test/widgets/zone_indicator_test.dart
Due: flutter-format, flutter-analyze

feat(flutter-widget-tests): add comprehensive PlanSelector widget tests
  lib/src/widgets/plan_selector.dart
  test/widgets/plan_selector_test.dart
Due: flutter-format, flutter-analyze

docs(flutter-widget-tests): mark task 4 as completed
  .spec-workflow/specs/flutter-widget-tests/tasks.md
Due: none

feat(flutter-widget-tests): add comprehensive SessionControls widget tests
  .spec-workflow/specs/flutter-widget-tests/Implementation Logs/task-2_2026-01-13T1215_3c32581b.md
  .spec-workflow/specs/flutter-widget-tests/Implementation Logs/task-3_2026-01-13T1219_ca12ae1b.md
  .spec-workflow/specs/flutter-widget-tests/Implementation Logs/task-4_2026-01-13T1225_0e190c26.md
  .spec-workflow/specs/flutter-widget-tests/Implementation Logs/task-5_2026-01-13T1230_ba72addf.md
  .spec-workflow/specs/flutter-widget-tests/tasks.md
  test/widgets/session_controls_test.dart
Due: flutter-format, flutter-analyze
