Repository RyosukeMondo/heart-beat2: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

cargo-check:
  name: Cargo check
  entry: bash -c 'cd rust && cargo check --all-features'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-test-lib:
  name: Cargo test (unit tests only)
  entry: bash -c 'cd rust && cargo test --lib'
  language: system
  pass_filenames: false

flutter-format:
  name: Flutter format
  entry: bash -c 'flutter format --set-exit-if-changed lib/'
  language: system
  pass_filenames: false

flutter-analyze:
  name: Flutter analyze
  entry: bash -c 'flutter analyze'
  language: system
  pass_filenames: false

chore(ci-cd): mark task 3.2 as completed
  .spec-workflow/specs/ci-cd/tasks.md
Due: none

feat(ci-cd): implement task 4.1 - create release workflow
  .github/workflows/release.yml
Due: none

chore(ci-cd): mark task 4.1 as completed
  .spec-workflow/specs/ci-cd/Implementation Logs/task-4-1_2026-01-11T0141_4b5ebf73.md
  .spec-workflow/specs/ci-cd/tasks.md
Due: none

feat(ci-cd): implement task 4.2 - add Flutter APK build to release workflow
  .github/workflows/release.yml
  .spec-workflow/specs/ci-cd/tasks.md
  android/.gitignore
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
  docs/development.md
Due: none

feat(ci-cd): implement task 5.1 - create benchmark suite
  .spec-workflow/specs/ci-cd/tasks.md
  rust/Cargo.toml
  rust/benches/latency_bench.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(ci-cd): implement task 5.2 - add benchmark comparison workflow
  .github/workflows/benchmark.yml
  .spec-workflow/specs/ci-cd/tasks.md
Due: none

feat(ci-cd): implement task 5.3 - add latency acceptance test
  .spec-workflow/specs/ci-cd/tasks.md
  rust/tests/latency_test.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(android-build): complete tasks 1.1-1.2 - add FRB config to .gitignore
  .gitignore
  .spec-workflow/specs/android-build/tasks.md
Due: none

feat(android-build): complete task 2.2 - create Cargo config for Android
  .spec-workflow/specs/android-build/tasks.md
  rust/.cargo/config.toml
Due: none

feat(android-build): complete task 2.3 - create Rust Android build script
  .spec-workflow/specs/android-build/tasks.md
  scripts/build-rust-android.sh
Due: none

feat(android-build): complete task 3.1 - update AndroidManifest.xml
  .spec-workflow/specs/android-build/tasks.md
  android/app/src/main/AndroidManifest.xml
Due: none

feat(android-build): complete task 3.2 - configure Gradle for native libraries
  .spec-workflow/specs/android-build/tasks.md
  android/app/build.gradle.kts
Due: none

feat(android-build): complete task 3.3 - add Rust panic handler
  .spec-workflow/specs/android-build/tasks.md
  rust/Cargo.toml
  rust/src/api.rs
  rust/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(android-build): complete task 4.1 - create complete build script
  .spec-workflow/specs/android-build/tasks.md
  build-android.sh
Due: none

feat(android-build): complete task 4.2 - add development helper scripts
  docs/development.md
  scripts/check-deps.sh
  scripts/dev-setup.sh
Due: none

chore(android-build): mark task 4.2 as completed and log implementation
  .spec-workflow/specs/android-build/Implementation Logs/task-3-1_2026-01-11T0210_37904f99.md
  .spec-workflow/specs/android-build/Implementation Logs/task-3-2_2026-01-11T0211_62c676a0.md
  .spec-workflow/specs/android-build/Implementation Logs/task-3-3_2026-01-11T0215_990d26e4.md
  .spec-workflow/specs/android-build/Implementation Logs/task-4-1_2026-01-11T0217_9bdcb6a5.md
  .spec-workflow/specs/android-build/Implementation Logs/task-4-2_2026-01-11T0221_a4f3575c.md
  .spec-workflow/specs/android-build/tasks.md
Due: none

feat(android-build): complete task 5.1 - configure logging bridge
  .spec-workflow/specs/android-build/tasks.md
  .spec-workflow/specs/ci-cd/Implementation Logs/task-3-2_2026-01-11T0139_7570f74c.md
  .spec-workflow/specs/ci-cd/Implementation Logs/task-4-2_2026-01-11T0145_0edc551c.md
  .spec-workflow/specs/ci-cd/Implementation Logs/task-5-1_2026-01-11T0152_7d2654ca.md
  .spec-workflow/specs/ci-cd/Implementation Logs/task-5-2_2026-01-11T0154_6cf4f1ae.md
  .spec-workflow/specs/ci-cd/Implementation Logs/task-5-3_2026-01-11T0202_140da93b.md
  ios/Runner/bridge_generated.h
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  rust/Cargo.toml
  rust/src/api.rs
  rust/src/frb_generated.rs
  rust/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(android-build): complete task 5.2 - create comprehensive debugging guide
  .spec-workflow/specs/android-build/tasks.md
  docs/debugging-android.md
Due: none

feat(android-build): complete task 5.3 - add comprehensive FRB integration tests
  .spec-workflow/specs/android-build/tasks.md
  integration_test/frb_test.dart
  pubspec.yaml
Due: flutter-format, flutter-analyze

fix: eliminate flaky test failures in HR stream tests
  .spec-workflow/specs/android-build/Implementation Logs/task-5-1_2026-01-11T0225_6c85a935.md
  .spec-workflow/specs/android-build/Implementation Logs/task-5-2_2026-01-11T0228_673a6fcd.md
  .spec-workflow/specs/android-build/Implementation Logs/task-5-3_2026-01-11T0230_ec3a0f8b.md
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(cli-enhancement): implement devices info and disconnect commands
  .dart_tool/package_config.json
  .dart_tool/package_graph.json
  .flutter-plugins-dependencies
  .spec-workflow/specs/android-build/tasks.md
  .spec-workflow/specs/ci-cd/tasks.md
  .spec-workflow/specs/cli-enhancement/tasks.md
  .spec-workflow/specs/documentation/tasks.md
  android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  ios/Runner/GeneratedPluginRegistrant.m
  pubspec.lock
  rust/src/api.rs
  rust/src/bin/cli.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

chore(cli-enhancement): mark task 1.2 as complete
  .spec-workflow/specs/cli-enhancement/tasks.md
Due: none

feat(cli-enhancement): implement session pause/resume/stop commands
  rust/src/bin/cli.rs
  rust/src/scheduler/executor.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

chore(cli-enhancement): mark task 2.1 as complete
  .spec-workflow/specs/cli-enhancement/tasks.md
Due: none

docs(spec): mark tasks 3.1 and 3.2 as complete
  .spec-workflow/specs/documentation/tasks.md
  rust/docs/api-examples.md
Due: none

docs(spec): complete task 4.2 - create training plan templates
  .spec-workflow/specs/documentation/tasks.md
  rust/docs/plans/5k-training.json
  rust/docs/plans/README.md
  rust/docs/plans/beginner-base-building.json
  rust/docs/plans/marathon-pace.json
  rust/docs/plans/recovery-run.json
Due: none

docs(spec): complete task 1.1 - comprehensive README.md
  .spec-workflow/specs/documentation/tasks.md
  LICENSE
Due: none

docs(spec): enhance architecture documentation with comprehensive Mermaid diagrams
  docs/architecture.md
Due: none

docs(spec): mark task 2.1 as complete
  .spec-workflow/specs/documentation/tasks.md
Due: none

docs(spec): mark task 2.2 as complete
  .spec-workflow/specs/documentation/tasks.md
Due: none

docs(spec): mark task 4.1 as complete
  .spec-workflow/specs/documentation/tasks.md
Due: none

docs(spec): mark task 5.1 as complete
  .spec-workflow/specs/documentation/tasks.md
Due: none

docs(spec): mark task 5.2 as complete
  .spec-workflow/specs/documentation/tasks.md
Due: none

docs(spec): mark task 5.3 as complete - all documentation tasks done
  .spec-workflow/specs/documentation/tasks.md
Due: none

docs(spec): mark all ci-cd tasks as complete
  .spec-workflow/specs/ci-cd/tasks.md
Due: none

docs(spec): mark all android-build tasks as complete
  .spec-workflow/specs/android-build/tasks.md
Due: none

feat(scripts): add BLE development and testing scripts
  docs/ble-device-setup.md
  scripts/ble-pair.sh
  scripts/ble-realtime.sh
  scripts/ble-setup.sh
  scripts/ble_hr_monitor.py
Due: none

fix(build): resolve Android build issues and remove cardio-rs dependency
  .gitignore
  android/app/build.gradle.kts
  build-android.sh
  rust/Cargo.toml
  rust/src/domain/hrv.rs
  scripts/build-rust-android.sh
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(api): add init_platform function for Android BLE initialization
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(flutter): call initPlatform in main.dart for Android BLE init
  lib/main.dart
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  rust/src/frb_generated.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

Path conditions:
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-test-lib: any of: \.rs$
  flutter-format: any of: \.dart$
  flutter-analyze: any of: \.dart$
