Repository RyosukeMondo/heart-beat2: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

cargo-check:
  name: Cargo check
  entry: bash -c 'cd rust && cargo check --all-features'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-test-lib:
  name: Cargo test (unit tests only)
  entry: bash -c 'cd rust && cargo test --lib'
  language: system
  pass_filenames: false

flutter-format:
  name: Flutter format
  entry: bash -c 'flutter format --set-exit-if-changed lib/'
  language: system
  pass_filenames: false

flutter-analyze:
  name: Flutter analyze
  entry: bash -c 'flutter analyze'
  language: system
  pass_filenames: false

feat(profile): add getZoneForBpm method to ProfileService
  .spec-workflow/specs/user-profile/tasks.md
  lib/src/services/profile_service.dart
Due: flutter-format, flutter-analyze

feat(settings): enhance SettingsScreen with profile editing
  lib/src/screens/settings_screen.dart
Due: flutter-format, flutter-analyze

docs(spec): mark task 3.1 as completed in user-profile spec
  .spec-workflow/specs/user-profile/tasks.md
Due: none

feat(zones): add custom zone editor with slider-based interface
  .spec-workflow/specs/user-profile/Implementation Logs/task-2-1_2026-01-12T1323_8510d369.md
  .spec-workflow/specs/user-profile/Implementation Logs/task-2-2_2026-01-12T1325_f9f2ec11.md
  .spec-workflow/specs/user-profile/Implementation Logs/task-3-1_2026-01-12T1329_89113d08.md
  .spec-workflow/specs/user-profile/Implementation Logs/task-3-2_2026-01-12T1332_15c2841f.md
  .spec-workflow/specs/user-profile/tasks.md
  lib/src/screens/settings_screen.dart
  lib/src/screens/zone_editor_screen.dart
Due: flutter-format, flutter-analyze

feat(session): integrate ProfileService for zone calculation
  lib/src/screens/session_screen.dart
Due: flutter-format, flutter-analyze

docs(spec): mark task 4.1 as completed in user-profile spec
  .spec-workflow/specs/user-profile/tasks.md
Due: none

test(profile): add comprehensive unit tests for ProfileService
  .spec-workflow/specs/user-profile/Implementation Logs/task-4-1_2026-01-12T1335_c08f643b.md
  .spec-workflow/specs/user-profile/Implementation Logs/task-4-2_2026-01-12T1338_df92e244.md
  .spec-workflow/specs/user-profile/tasks.md
  test/services/profile_service_test.dart
Due: flutter-format, flutter-analyze

feat(reconnection): add ReconnectionPolicy and ConnectionStatus domain types
  .spec-workflow/specs/reconnection-handling/tasks.md
  rust/src/domain/mod.rs
  rust/src/domain/reconnection.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(connectivity): add configurable max_attempts to reconnection state
  .spec-workflow/specs/reconnection-handling/tasks.md
  rust/src/state/connectivity.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(reconnection): add reconnect method with exponential backoff to BtleplugAdapter
  .spec-workflow/specs/reconnection-handling/tasks.md
  rust/Cargo.toml
  rust/src/adapters/btleplug_adapter.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(reconnection): add connection status stream API
  .spec-workflow/specs/reconnection-handling/Implementation Logs/task-1-1_2026-01-12T1342_e094bd08.md
  .spec-workflow/specs/reconnection-handling/Implementation Logs/task-2-1_2026-01-12T1346_7ebba110.md
  .spec-workflow/specs/reconnection-handling/Implementation Logs/task-2-2_2026-01-12T1350_e832750d.md
  .spec-workflow/specs/reconnection-handling/Implementation Logs/task-3-1_2026-01-12T1353_374a8921.md
  .spec-workflow/specs/reconnection-handling/tasks.md
  ios/Runner/bridge_generated.h
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  rust/src/api.rs
  rust/src/frb_generated.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(ui): add connection status banner widget
  .spec-workflow/specs/reconnection-handling/tasks.md
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  lib/src/widgets/connection_banner.dart
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(reconnection): integrate reconnection with SessionExecutor
  .spec-workflow/specs/reconnection-handling/tasks.md
  rust/src/scheduler/executor.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

test(reconnection): verify comprehensive unit tests for reconnection domain
  .spec-workflow/specs/reconnection-handling/Implementation Logs/task-3-2_2026-01-12T1357_5e2e9f3d.md
  .spec-workflow/specs/reconnection-handling/Implementation Logs/task-4-1_2026-01-12T1402_ec20a34d.md
  .spec-workflow/specs/reconnection-handling/Implementation Logs/task-5-1_2026-01-12T1425_961456c5.md
  .spec-workflow/specs/reconnection-handling/tasks.md
Due: none

docs(reconnection): mark manual testing task 5.2 as complete
  .spec-workflow/specs/reconnection-handling/tasks.md
Due: none

feat(kalman): integrate KalmanFilter into HR data pipeline
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(kalman): add filter variance/confidence to FilteredHeartRate
  .spec-workflow/specs/audio-notifications/tasks.md
  .spec-workflow/specs/data-export/Implementation Logs/task-4-2_2026-01-12T1318_6122844a.md
  .spec-workflow/specs/disconnect-api/tasks.md
  .spec-workflow/specs/doctest-fix/tasks.md
  .spec-workflow/specs/kalman-filter-integration/tasks.md
  .spec-workflow/specs/latency-benchmarks/tasks.md
  .spec-workflow/specs/reconnection-handling/Implementation Logs/task-5-2_2026-01-12T1428_5fb760a5.md
  .spec-workflow/specs/reconnection-handling/manual-test-plan.md
  .spec-workflow/specs/test-coverage-audit/tasks.md
  ios/Runner/bridge_generated.h
  lib/main.dart
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  lib/src/screens/session_screen.dart
  lib/src/screens/workout_screen.dart
  rust/examples/stream_hr.rs
  rust/src/adapters/btleplug_adapter.rs
  rust/src/api.rs
  rust/src/domain/filters.rs
  rust/src/domain/heart_rate.rs
  rust/src/frb_generated.rs
  rust/src/scheduler/executor.rs
  rust/tests/latency_test.rs
  rust/tests/pipeline_integration.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(kalman): add hrFilterVariance accessor for Dart/Flutter
  ios/Runner/bridge_generated.h
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  rust/src/api.rs
  rust/src/frb_generated.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

test(kalman): add comprehensive integration tests for filter pipeline
  rust/tests/kalman_integration.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

docs(kalman): add comprehensive parameter tuning documentation
  docs/kalman-filter-tuning.md
Due: none

docs(spec): mark all kalman-filter-integration tasks as complete
  .spec-workflow/specs/kalman-filter-integration/tasks.md
Due: none

feat(api): implement disconnect() API with global connection state management
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(ui): add disconnect button to session screen
  lib/src/screens/session_screen.dart
Due: flutter-format, flutter-analyze

docs(spec): mark all disconnect-api tasks complete and log implementations
  .spec-workflow/specs/disconnect-api/Implementation Logs/task-1_2026-01-13T0350_7b85f020.md
  .spec-workflow/specs/disconnect-api/Implementation Logs/task-2_2026-01-13T0350_7023d58a.md
  .spec-workflow/specs/disconnect-api/Implementation Logs/task-3_2026-01-13T0350_50660852.md
  .spec-workflow/specs/disconnect-api/Implementation Logs/task-4_2026-01-13T0350_06af859a.md
  .spec-workflow/specs/disconnect-api/Implementation Logs/task-5_2026-01-13T0350_87a6d0eb.md
  .spec-workflow/specs/disconnect-api/Implementation Logs/task-6_2026-01-13T0350_e6c7c530.md
  .spec-workflow/specs/disconnect-api/Implementation Logs/task-7_2026-01-13T0350_b8e81f76.md
  .spec-workflow/specs/disconnect-api/tasks.md
Due: none

fix(doctest): replace tokio_test with tokio runtime in export_session doctest
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

docs(spec): mark all doctest-fix tasks as complete
  .spec-workflow/specs/doctest-fix/tasks.md
Due: none

docs(spec): add requirements document for doctest-fix spec
  .spec-workflow/specs/doctest-fix/requirements.md
Due: none

docs(spec): add design document for doctest-fix spec
  .spec-workflow/specs/doctest-fix/design.md
Due: none

docs(spec): add requirements document for audio-notifications spec
  .spec-workflow/specs/audio-notifications/requirements.md
Due: none

docs(spec): add design document for audio-notifications spec
  .spec-workflow/specs/audio-notifications/design.md
Due: none

docs(spec): complete audio package research for audio-notifications
  .spec-workflow/specs/audio-notifications/tasks.md
Due: none

feat: add audioplayers dependency for audio notifications
  .spec-workflow/specs/audio-notifications/tasks.md
  pubspec.lock
  pubspec.yaml
Due: none

feat(audio-notifications): implement AudioFeedbackService singleton
  .spec-workflow/specs/audio-notifications/tasks.md
  lib/src/services/audio_feedback_service.dart
Due: flutter-format, flutter-analyze

feat(audio-notifications): add audio feedback assets
  .spec-workflow/specs/audio-notifications/tasks.md
  assets/audio/phase_change.mp3
  assets/audio/too_high.mp3
  assets/audio/too_low.mp3
Due: none

feat(audio-notifications): register audio assets in pubspec.yaml
  .spec-workflow/specs/audio-notifications/tasks.md
  pubspec.yaml
Due: none

feat(audio-notifications): integrate audio feedback with WorkoutScreen
  .spec-workflow/specs/audio-notifications/tasks.md
  lib/src/screens/workout_screen.dart
Due: flutter-format, flutter-analyze

feat(audio-notifications): add audio settings to SettingsScreen and UserProfile
  lib/src/models/user_profile.dart
  lib/src/screens/settings_screen.dart
Due: flutter-format, flutter-analyze

docs(audio-notifications): mark tasks 7 and 8 as completed
  .spec-workflow/specs/audio-notifications/Implementation Logs/task-3_2026-01-13T0416_99a95759.md
  .spec-workflow/specs/audio-notifications/Implementation Logs/task-4_2026-01-13T0419_154df959.md
  .spec-workflow/specs/audio-notifications/Implementation Logs/task-5_2026-01-13T0421_5f8d4714.md
  .spec-workflow/specs/audio-notifications/Implementation Logs/task-6_2026-01-13T0424_ee7ffddf.md
  .spec-workflow/specs/audio-notifications/Implementation Logs/task-7_2026-01-13T0427_ad8f1200.md
  .spec-workflow/specs/audio-notifications/Implementation Logs/task-8_2026-01-13T0427_ffed272e.md
  .spec-workflow/specs/audio-notifications/tasks.md
Due: none

test(audio-notifications): add comprehensive unit tests for AudioFeedbackService
  .spec-workflow/specs/audio-notifications/tasks.md
  test/services/audio_feedback_service_test.dart
Due: flutter-format, flutter-analyze

docs(audio-notifications): log task 9 implementation - comprehensive testing
  .spec-workflow/specs/audio-notifications/Implementation Logs/task-9_2026-01-13T0434_46277e85.md
Due: none

Path conditions:
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-test-lib: any of: \.rs$
  flutter-format: any of: \.dart$
  flutter-analyze: any of: \.dart$
