Repository RyosukeMondo/heart-beat2: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=500']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: mixed-line-ending
        name: Check line endings

  # Rust checks
  - repo: local
    hooks:
      - id: cargo-check
        name: Cargo check
        entry: bash -c 'cd rust && cargo check --all-features'
        language: system
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: Cargo clippy
        entry: bash -c 'cd rust && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: \.rs$

      - id: cargo-fmt
        name: Cargo format
        entry: bash -c 'cd rust && cargo fmt --all -- --check'
        language: system
        pass_filenames: false
        files: \.rs$

      - id: cargo-test-lib
        name: Cargo test (unit tests only)
        entry: bash -c 'cd rust && cargo test --lib'
        language: system
        pass_filenames: false
        files: \.rs$

  # Flutter/Dart checks
  - repo: local
    hooks:
      - id: flutter-format
        name: Flutter format
        entry: bash -c 'flutter format --set-exit-if-changed lib/'
        language: system
        pass_filenames: false
        files: \.dart$

      - id: flutter-analyze
        name: Flutter analyze
        entry: bash -c 'flutter analyze'
        language: system
        pass_filenames: false
        files: \.dart$

feat(dart): Dart log capture with rolling file writer and error hooks
  lib/main.dart
  lib/src/services/log_service.dart
  test/services/log_service_test.dart
Due: flutter-format, flutter-analyze

feat(ios): native log bridge — dup2 stdout/stderr to pipe → MethodChannel
  ios/Runner/AppDelegate.swift
  ios/Runner/LogBridge.swift
  lib/src/services/log_service.dart
Due: flutter-format, flutter-analyze

feat(android): native log bridge — logcat forward via MethodChannel to file
  android/app/src/main/kotlin/com/example/heart_beat/LogBridge.kt
  android/app/src/main/kotlin/com/example/heart_beat/MainActivity.kt
  lib/src/services/log_service.dart
Due: flutter-format, flutter-analyze

fix(logging): add 7-day retention sweep to all four log writers
  lib/src/services/log_service.dart
Due: flutter-format, flutter-analyze

refactor: extract build_router() from debug_server binary into debug_http library module
  rust/src/bin/debug_server.rs
  rust/src/debug_http.rs
  rust/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(api): add start_debug_server(port) as idempotent tokio task
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(debug-server): call startDebugServer(8888) from Dart main() in kDebugMode
  lib/main.dart
Due: flutter-format, flutter-analyze

chore: mark 2.3 done — Dart startDebugServer in kDebugMode
  PLAN.md
  PLAN_debug_server.md
Due: none

feat(debug-server): add source/level filters on /debug/logs and /ws/logs
  rust/src/debug_http.rs
  rust/src/logging.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(diagnosis): add /diagnosis route and skeleton screen
  lib/src/app.dart
  lib/src/screens/diagnosis_screen.dart
  lib/src/screens/home_screen.dart
Due: flutter-format, flutter-analyze

feat(diagnosis): implement live log viewer with filters and auto-scroll
  lib/src/screens/diagnosis_screen.dart
Due: flutter-format, flutter-analyze

feat(diagnosis): add connection status card to diagnosis screen
  lib/src/screens/diagnosis_screen.dart
Due: flutter-format, flutter-analyze

feat(diagnosis): add operations panel with scan/connect/disconnect/mock/export/clear
  lib/src/screens/diagnosis_screen.dart
Due: flutter-format, flutter-analyze

feat(dev-workflow): add ios-debug-server.sh iproxy wrapper
  scripts/ios-debug-server.sh
Due: none

feat(dev-workflow): add ios-logs.sh for REST fetch and WS follow with filters
  scripts/ios-logs.sh
Due: none

docs: add iOS USB log streaming to quickref and dev guide
  CLAUDE.md
  docs/DEVELOPER-GUIDE.md
Due: none

docs: update PLAN files for coaching, dev-workflow, diagnosis_gui, logging
  PLAN.md
  PLAN_coaching.md
  PLAN_dev_workflow.md
  PLAN_diagnosis_gui.md
  PLAN_logging.md
Due: none

feat(coaching): robust reconnect loop with jittered backoff and stale HR marking
  rust/src/adapters/btleplug_adapter.rs
  rust/src/api.rs
  rust/src/domain/heart_rate.rs
  rust/src/domain/reconnection.rs
  rust/src/scheduler/executor.rs
  rust/src/state/connectivity.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(coaching): rule engine with target zone, inactivity, overwork rules
  rust/Cargo.toml
  rust/src/coaching/cue.rs
  rust/src/coaching/mod.rs
  rust/src/coaching/rule.rs
  rust/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(coaching): wire rule engine to FFI cue stream with Dart delivery surfaces
  PLAN.md
  lib/main.dart
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/coaching/cue.dart
  lib/src/bridge/api_generated.dart/domain/heart_rate.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  pubspec.yaml
  rust/src/api.rs
  rust/src/coaching/cue.rs
  rust/src/coaching/mod.rs
  rust/src/frb_generated.rs
  rust/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(coaching): add coaching screen UI with live HR, zone gauge, and cue card
  lib/src/app.dart
  lib/src/screens/coaching_screen.dart
Due: flutter-format, flutter-analyze

feat(coaching): add 8h soak test script for long-session coaching
  scripts/soak-coaching.sh
Due: none

test(coaching): add widget tests for coaching screen components
  test/screens/coaching_screen_test.dart
Due: flutter-format, flutter-analyze

test(readiness): add widget tests for morning readiness measurement flow
  test/screens/readiness_screen_test.dart
Due: flutter-format, flutter-analyze

test(analytics): add widget tests for training analytics dashboard
  test/screens/analytics_screen_test.dart
Due: flutter-format, flutter-analyze

test(calendar): add widget tests for CalendarScreen
  test/screens/calendar_screen_test.dart
Due: flutter-format, flutter-analyze

test(training_load): add widget tests for TrainingLoadScreen
  test/screens/training_load_screen_test.dart
Due: flutter-format, flutter-analyze

test(workout_library): add widget tests for WorkoutLibraryScreen
  test/screens/workout_library_screen_test.dart
Due: flutter-format, flutter-analyze

refactor(settings_screen): extract ProfileSettingsCard, AudioSettingsCard, TrainingZonesCard
  lib/src/screens/settings_screen.dart
Due: flutter-format, flutter-analyze

test(home_screen): add widget tests for HomeScreen
  test/screens/home_screen_test.dart
Due: flutter-format, flutter-analyze

test(session_screen): add widget tests for SessionScreen
  test/screens/session_screen_test.dart
Due: flutter-format, flutter-analyze

refactor(diagnosis): split 935-line file into 6 files under 500 lines
  lib/src/screens/diagnosis/connection_status_card.dart
  lib/src/screens/diagnosis/diagnosis.dart
  lib/src/screens/diagnosis/diagnosis_body.dart
  lib/src/screens/diagnosis/filter_bar.dart
  lib/src/screens/diagnosis/log_line.dart
  lib/src/screens/diagnosis/operations_panel.dart
  lib/src/screens/diagnosis_screen.dart
Due: flutter-format, flutter-analyze

refactor(services): make BackgroundService a singleton
  lib/src/screens/session_screen.dart
  lib/src/services/background_service.dart
Due: flutter-format, flutter-analyze

refactor(workout): extract service coupling into WorkoutController
  lib/src/controllers/workout_controller.dart
  lib/src/screens/workout_screen.dart
Due: flutter-format, flutter-analyze

refactor(diagnosis): remove dead exports from barrel
  lib/src/screens/diagnosis/diagnosis.dart
Due: flutter-format, flutter-analyze

refactor(session_detail): extract export menu to SessionExportMenu widget
  lib/src/screens/session_detail_screen.dart
  lib/src/widgets/session_export_menu.dart
Due: flutter-format, flutter-analyze

test(coaching_cue_service): add unit tests for CoachingCueService
  lib/src/services/coaching_cue_service.dart
  test/services/coaching_cue_service_test.dart
Due: flutter-format, flutter-analyze

refactor(session_detail): extract widgets to reduce file size
  lib/src/screens/session_detail_screen.dart
  lib/src/widgets/session_detail_header.dart
  lib/src/widgets/session_detail_hr_chart.dart
  lib/src/widgets/session_detail_summary.dart
  lib/src/widgets/session_detail_time_in_zone.dart
Due: flutter-format, flutter-analyze

refactor(readiness_screen): simplify _MorningCheckSheet to stateless widget
  lib/src/screens/readiness_screen.dart
Due: flutter-format, flutter-analyze

fix(test): remove commented-out assertions from connection_banner_test
  test/widgets/connection_banner_test.dart
Due: flutter-format, flutter-analyze
