Repository RyosukeMondo/heart-beat2: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

cargo-check:
  name: Cargo check
  entry: bash -c 'cd rust && cargo check --all-features'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-test-lib:
  name: Cargo test (unit tests only)
  entry: bash -c 'cd rust && cargo test --lib'
  language: system
  pass_filenames: false

flutter-format:
  name: Flutter format
  entry: bash -c 'flutter format --set-exit-if-changed lib/'
  language: system
  pass_filenames: false

flutter-analyze:
  name: Flutter analyze
  entry: bash -c 'flutter analyze'
  language: system
  pass_filenames: false

feat(hr_store): add append-only JSONL heart-rate store module
  rust/Cargo.toml
  rust/src/hr_store/mod.rs
  rust/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(hr_store): wire BLE HR notification path to hr_store::append with 500ms deduplication
  rust/src/api.rs
  rust/src/hr_store/mod.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(hr_store): implement query functions samples_in_range, rolling_avg, latest_sample
  rust/src/api.rs
  rust/src/hr_store/mod.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(hr_store): add 30-day retention sweep on init
  rust/src/hr_store/mod.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(hr_store): add Dart wrapper service and regenerate FRB bindings
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  lib/src/services/hr_history_service.dart
  rust/src/frb_generated.rs
  test/services/hr_history_service_test.dart
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(settings): add HealthSettingsService for low-HR alert configuration
  lib/src/services/health_settings_service.dart
Due: flutter-format, flutter-analyze

feat(health_settings): add HealthSettingsScreen with form fields and tests
  lib/src/screens/health_settings_screen.dart
  lib/src/services/health_settings_service.dart
  test/screens/health_settings_screen_test.dart
Due: flutter-format, flutter-analyze

feat(settings): add navigation entry to HealthSettingsScreen
  lib/src/app.dart
  lib/src/screens/settings_screen.dart
Due: flutter-format, flutter-analyze

feat(coaching): add LowHrRule with hysteresis debounce
  rust/src/coaching/rule.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(coaching): plumb HealthSettingsService into LowHrRule via FRB
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  lib/src/services/health_settings_service.dart
  rust/src/api.rs
  rust/src/coaching/rule.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(coaching): handle sustained_low_hr cue with custom notification
  lib/src/services/coaching_cue_service.dart
Due: flutter-format, flutter-analyze

feat(health_screen): add HealthScreen with 1h/24h/7d average tiles
  lib/src/screens/health_screen.dart
Due: flutter-format, flutter-analyze

feat(health_screen): add 24h sparkline with fl_chart and live BPM overlay
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  lib/src/screens/health_screen.dart
  rust/src/api.rs
  rust/src/frb_generated.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(health_screen): add Status banner reflecting low-HR rule state
  lib/src/screens/health_screen.dart
Due: flutter-format, flutter-analyze

feat(health_screen): wire navigation and deep-link for Health entry
  lib/src/app.dart
  lib/src/screens/settings_screen.dart
Due: flutter-format, flutter-analyze

test(hr_store): add boundary-case unit tests for day-boundary and retention sweep
  rust/src/hr_store/mod.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

test(health): add widget tests for HealthScreen and HealthSettingsScreen
  test/screens/health_screen_test.dart
  test/screens/health_settings_screen_test.dart
Due: flutter-format, flutter-analyze

docs: add Phase 6 milestone to PLAN.md and health monitoring guide to CLAUDE.md
  CLAUDE.md
  PLAN.md
Due: none

test(soak): add health-monitoring soak script for low-HR rule
  scripts/soak-health-monitoring.sh
Due: none

test(soak): capture soak logs under .soak-logs/
  .soak-logs/soak_20260425_012655.log
  .soak-logs/soak_20260425_012655_metrics.txt
  .soak-logs/soak_health_20260427_044240.log
  .soak-logs/soak_health_20260427_044240_metrics.txt
  .soak-logs/soak_health_20260427_044519.log
  .soak-logs/soak_health_20260427_044519_metrics.txt
  .soak-logs/soak_health_20260427_045132.log
  .soak-logs/soak_health_20260427_045132_metrics.txt
  .soak-logs/soak_health_20260427_045310.log
  .soak-logs/soak_health_20260427_045310_metrics.txt
  .soak-logs/soak_health_20260427_045729.log
  .soak-logs/soak_health_20260427_045729_metrics.txt
Due: none

test(soak): allow soak logs through .gitignore
  .gitignore
Due: none

refactor: split HealthSettingsService into repository + service
  lib/src/services/health_settings_service.dart
Due: flutter-format, flutter-analyze

test: add CloudSyncService test coverage
  test/services/cloud_sync_service_test.dart
Due: flutter-format, flutter-analyze

test: add ShareService test coverage
  test/services/share_service_test.dart
Due: flutter-format, flutter-analyze

refactor: split TTS prefs ownership from CoachingCueService
  lib/src/services/coaching_cue_service.dart
  lib/src/services/voice_coaching_service.dart
Due: flutter-format, flutter-analyze

fix: remove HealthSettingsService singleton dependency from CoachingCueService
  lib/src/services/coaching_cue_service.dart
Due: flutter-format, flutter-analyze

refactor: inline HealthSettingsRepository into HealthSettingsService
  lib/src/services/health_settings_service.dart
Due: flutter-format, flutter-analyze

test: add assertions to HomeScreen instantiation test
  test/screens/home_screen_test.dart
Due: flutter-format, flutter-analyze

refactor: extract _RollingFileWriter base class from LogService
  lib/src/services/log_service.dart
Due: flutter-format, flutter-analyze

test: expand HrHistoryService test coverage beyond singleton identity
  test/services/hr_history_service_test.dart
Due: flutter-format, flutter-analyze

test: add HealthSettingsService test coverage
  test/services/health_settings_service_test.dart
Due: flutter-format, flutter-analyze

refactor: extract VoiceCoachingHandler abstraction in CoachingCueService
  lib/src/services/coaching_cue_service.dart
  lib/src/services/voice_coaching_handler.dart
  lib/src/services/voice_coaching_service.dart
Due: flutter-format, flutter-analyze

fix: replace dynamic with typed function signature for _originalPlatformOnError
  lib/src/services/log_service.dart
Due: flutter-format, flutter-analyze

fix: use relative imports for sibling diagnosis modules
  lib/src/screens/diagnosis/diagnosis_body.dart
Due: flutter-format, flutter-analyze

fix: use relative imports for sibling diagnosis modules
  lib/src/screens/diagnosis_screen.dart
Due: flutter-format, flutter-analyze

feat: abstract HealthAlertService to decouple HealthScreen from CoachingCueService
  lib/src/screens/health_screen.dart
  lib/src/services/health_alert_service.dart
Due: flutter-format, flutter-analyze

fix: remove CoachingCueService import from HealthAlertService
  lib/src/services/health_alert_service.dart
Due: flutter-format, flutter-analyze

test: add unit tests for analytics summary and time-in-zone formatting
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

fix: use relative import for health_alert_service in health_screen
  lib/src/screens/health_screen.dart
Due: flutter-format, flutter-analyze

refactor: share cueStream via CoachingCueService to avoid duplicate subscriptions
  lib/src/screens/coaching_screen.dart
  lib/src/services/coaching_cue_service.dart
  lib/src/services/health_alert_service.dart
Due: flutter-format, flutter-analyze

Path conditions:
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-test-lib: any of: \.rs$
  flutter-format: any of: \.dart$
  flutter-analyze: any of: \.dart$
