Repository RyosukeMondo/heart-beat2: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

cargo-check:
  name: Cargo check
  entry: bash -c 'cd rust && cargo check --all-features'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-test-lib:
  name: Cargo test (unit tests only)
  entry: bash -c 'cd rust && cargo test --lib'
  language: system
  pass_filenames: false

flutter-format:
  name: Flutter format
  entry: bash -c 'flutter format --set-exit-if-changed lib/'
  language: system
  pass_filenames: false

flutter-analyze:
  name: Flutter analyze
  entry: bash -c 'flutter analyze'
  language: system
  pass_filenames: false

docs(spec): mark all android-ble-init tasks as complete
  .spec-workflow/specs/android-ble-init/Implementation Logs/task-1-3_2026-01-12T0309_dfb5cc4a.md
  .spec-workflow/specs/android-ble-init/tasks.md
Due: none

feat(logging): add android_logger dependency for Android logcat support
  .spec-workflow/specs/logging-system/tasks.md
  rust/Cargo.toml
Due: none

feat(logging): add android_logger dual output to init_logging
  .spec-workflow/specs/logging-system/Implementation Logs/task-1-1_2026-01-12T0311_212ce153.md
  .spec-workflow/specs/logging-system/Implementation Logs/task-1-2_2026-01-12T0312_452fa659.md
  .spec-workflow/specs/logging-system/tasks.md
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(logging): add LogService singleton for centralized log management
  .spec-workflow/specs/logging-system/tasks.md
  lib/src/services/log_service.dart
Due: flutter-format, flutter-analyze

feat(logging): initialize logging system in main.dart
  .spec-workflow/specs/logging-system/tasks.md
  lib/main.dart
Due: flutter-format, flutter-analyze

build(android): upgrade to SDK 36 and add Play Core ProGuard rules
  android/app/build.gradle.kts
  android/app/proguard-rules.pro
Due: none

docs(spec): mark task 1.5 (Android testing) as complete
  .spec-workflow/specs/logging-system/tasks.md
Due: none

feat(debug-console): create DebugConsole widget with filtering
  .spec-workflow/specs/debug-console/Implementation Logs/task-1-1_2026-01-12T0323_647b7109.md
  .spec-workflow/specs/debug-console/tasks.md
  lib/src/widgets/debug_console.dart
Due: flutter-format, flutter-analyze

feat(debug-console): create DebugConsoleOverlay with triple-tap toggle
  .spec-workflow/specs/debug-console/Implementation Logs/task-1-2_2026-01-12T0325_6e834fac.md
  .spec-workflow/specs/debug-console/tasks.md
  lib/src/widgets/debug_console_overlay.dart
Due: flutter-format, flutter-analyze

feat(debug-console): integrate overlay in app.dart
  .spec-workflow/specs/debug-console/Implementation Logs/task-1-3_2026-01-12T0325_1215ef14.md
  .spec-workflow/specs/debug-console/tasks.md
  lib/src/app.dart
Due: flutter-format, flutter-analyze

feat(debug-console): add Linux support and testing setup
  .spec-workflow/specs/debug-console/Implementation Logs/task-1-4_2026-01-12T0330_40e5f20c.md
  .spec-workflow/specs/debug-console/tasks.md
  lib/main.dart
  linux/.gitignore
  linux/CMakeLists.txt
  linux/flutter/CMakeLists.txt
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugin_registrant.h
  linux/flutter/generated_plugins.cmake
  linux/runner/CMakeLists.txt
  linux/runner/main.cc
  linux/runner/my_application.cc
  linux/runner/my_application.h
Due: flutter-format, flutter-analyze

feat(linux): add Flutter Linux desktop support with Rust library linking
  .spec-workflow/specs/linux-dev-env/Implementation Logs/task-1-1_2026-01-12T0335_8040374f.md
  .spec-workflow/specs/linux-dev-env/tasks.md
  linux/CMakeLists.txt
Due: none

feat(linux-dev): create dev-linux.sh script for one-command workflow
  .spec-workflow/specs/linux-dev-env/Implementation Logs/task-1-2_2026-01-12T0337_3c0e3fc8.md
  .spec-workflow/specs/linux-dev-env/tasks.md
  scripts/dev-linux.sh
Due: none

feat(linux-dev-env): add dev-watch.sh for continuous development workflow
  .spec-workflow/specs/linux-dev-env/Implementation Logs/task-1-3_2026-01-12T0338_517c6c24.md
  .spec-workflow/specs/linux-dev-env/tasks.md
  scripts/dev-watch.sh
Due: none

test(linux-dev-env): verify CLI functionality on Linux
  .spec-workflow/specs/linux-dev-env/Implementation Logs/task-1-4_2026-01-12T0341_7ef878ee.md
  .spec-workflow/specs/linux-dev-env/tasks.md
Due: none

test(linux-dev-env): document BLE testing results for Task 1.5
  .spec-workflow/specs/linux-dev-env/test-results-task-1.5.md
Due: none

chore(linux-dev-env): mark task 1.5 as completed
  .spec-workflow/specs/linux-dev-env/tasks.md
Due: none

docs(linux-dev-env): add implementation log for task 1.5
  .spec-workflow/specs/linux-dev-env/Implementation Logs/task-1-5_2026-01-12T0345_53075de9.md
Due: none

docs(logging-system): add implementation logs for tasks 1.3-1.5
  .spec-workflow/specs/logging-system/Implementation Logs/task-1-3_2026-01-12T0315_ccbf4b2b.md
  .spec-workflow/specs/logging-system/Implementation Logs/task-1-4_2026-01-12T0317_3a2be5de.md
  .spec-workflow/specs/logging-system/Implementation Logs/task-1-5_2026-01-12T0321_de6141c6.md
Due: none

feat(android-debug-scripts): add adb-logs.sh for filtered logcat output
  .spec-workflow/specs/android-debug-scripts/Implementation Logs/task-1-1_2026-01-12T0508_5399e951.md
  .spec-workflow/specs/android-debug-scripts/tasks.md
  scripts/adb-logs.sh
Due: none

feat(android-debug-scripts): add adb-install.sh for one-command deployment
  .spec-workflow/specs/android-debug-scripts/Implementation Logs/task-1-2_2026-01-12T0510_a6b0b405.md
  .spec-workflow/specs/android-debug-scripts/tasks.md
  scripts/adb-install.sh
Due: none

feat(android-debug-scripts): add adb-permissions.sh for permission debugging
  scripts/adb-permissions.sh
Due: none

docs(android-debug-scripts): mark task 1.3 as completed
  .spec-workflow/specs/android-debug-scripts/tasks.md
Due: none

feat(android-debug-scripts): add adb-ble-debug.sh for HCI snoop logging
  .spec-workflow/specs/android-debug-scripts/Implementation Logs/task-1-3_2026-01-12T0512_c4e480eb.md
  .spec-workflow/specs/android-debug-scripts/Implementation Logs/task-1-4_2026-01-12T0514_e2af1b53.md
  .spec-workflow/specs/android-debug-scripts/tasks.md
  scripts/adb-ble-debug.sh
Due: none

docs(android-debug-scripts): mark task 1.5 as completed
  .spec-workflow/specs/android-debug-scripts/Implementation Logs/task-1-5_2026-01-12T0516_c4bc94f2.md
  .spec-workflow/specs/android-debug-scripts/tasks.md
  .spec-workflow/specs/android-debug-scripts/test-report.md
Due: none

docs(dev-documentation): add CLAUDE.md quick reference
  .spec-workflow/specs/dev-documentation/Implementation Logs/task-1-1_2026-01-12T0517_83b7a862.md
  .spec-workflow/specs/dev-documentation/tasks.md
  CLAUDE.md
Due: none

docs(dev-documentation): create DEVELOPER-GUIDE.md with environment setup
  .spec-workflow/specs/dev-documentation/Implementation Logs/task-1-2_2026-01-12T0520_f761662d.md
  .spec-workflow/specs/dev-documentation/tasks.md
  docs/DEVELOPER-GUIDE.md
Due: none

docs(dev-documentation): add Development Workflows section to DEVELOPER-GUIDE.md
  .spec-workflow/specs/dev-documentation/tasks.md
  docs/DEVELOPER-GUIDE.md
Due: none

docs(dev-documentation): add Debugging section to DEVELOPER-GUIDE.md
  .spec-workflow/specs/dev-documentation/Implementation Logs/task-1-4_2026-01-12T0525_576c0d8f.md
  .spec-workflow/specs/dev-documentation/tasks.md
  docs/DEVELOPER-GUIDE.md
Due: none

docs(dev-documentation): add Scripts Reference section to DEVELOPER-GUIDE.md
  .spec-workflow/specs/dev-documentation/tasks.md
  docs/DEVELOPER-GUIDE.md
Due: none

fix(android): resolve BLE connection and foreground service issues
  android/app/src/main/AndroidManifest.xml
  docs/DEBUG_GUIDE.md
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/services/background_service.dart
  rust/src/adapters/btleplug_adapter.rs
  rust/src/api.rs
  rust/src/frb_generated.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(battery): create BatteryLevel domain type
  .spec-workflow/specs/battery-monitoring/tasks.md
  rust/src/domain/battery.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(battery): add battery module to domain exports
  .spec-workflow/specs/battery-monitoring/tasks.md
  rust/src/domain/mod.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(battery): update read_battery to return Option<u8>
  .spec-workflow/specs/battery-monitoring/tasks.md
  rust/src/adapters/btleplug_adapter.rs
  rust/src/adapters/mock_adapter.rs
  rust/src/bin/cli.rs
  rust/src/ports/ble_adapter.rs
  rust/src/state/connectivity.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(battery): add battery polling loop to BtleplugAdapter
  .spec-workflow/specs/battery-monitoring/tasks.md
  rust/src/adapters/btleplug_adapter.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(flutter): connect battery stream to session screen
  lib/src/screens/session_screen.dart
Due: flutter-format, flutter-analyze

chore(spec): mark task 3.2 as completed
  .spec-workflow/specs/battery-monitoring/Implementation Logs/task-3-2_2026-01-12T1122_2ccdb191.md
  .spec-workflow/specs/battery-monitoring/tasks.md
Due: none

chore(spec): mark task 4.1 as completed
  .spec-workflow/specs/battery-monitoring/Implementation Logs/task-4-1_2026-01-12T1123_e746ebad.md
  .spec-workflow/specs/battery-monitoring/tasks.md
Due: none

Path conditions:
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-test-lib: any of: \.rs$
  flutter-format: any of: \.dart$
  flutter-analyze: any of: \.dart$
