Repository RyosukeMondo/heart-beat2: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

cargo-check:
  name: Cargo check
  entry: bash -c 'cd rust && cargo check --all-features'
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo clippy
  entry: bash -c 'cd rust && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

cargo-fmt:
  name: Cargo format
  entry: bash -c 'cd rust && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

cargo-test-lib:
  name: Cargo test (unit tests only)
  entry: bash -c 'cd rust && cargo test --lib'
  language: system
  pass_filenames: false

flutter-format:
  name: Flutter format
  entry: bash -c 'flutter format --set-exit-if-changed lib/'
  language: system
  pass_filenames: false

flutter-analyze:
  name: Flutter analyze
  entry: bash -c 'flutter analyze'
  language: system
  pass_filenames: false

chore(spec): mark task 4.2 as completed
  .spec-workflow/specs/battery-monitoring/tasks.md
Due: none

feat(domain): add session history domain types
  .spec-workflow/specs/session-history/tasks.md
  rust/src/domain/mod.rs
  rust/src/domain/session_history.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(ports): add SessionRepository trait for session storage
  .spec-workflow/specs/session-history/tasks.md
  rust/src/ports/mod.rs
  rust/src/ports/session_repository.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(adapters): implement FileSessionRepository for session persistence
  .spec-workflow/specs/session-history/tasks.md
  rust/src/adapters/file_session_repository.rs
  rust/src/adapters/mod.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(scheduler): add session history recording to SessionExecutor
  .spec-workflow/specs/battery-monitoring/Implementation Logs/task-4-2_2026-01-12T1128_d4d11948.md
  .spec-workflow/specs/session-history/Implementation Logs/task-1-1_2026-01-12T1131_5af3630b.md
  .spec-workflow/specs/session-history/Implementation Logs/task-1-2_2026-01-12T1132_7527b013.md
  .spec-workflow/specs/session-history/Implementation Logs/task-2-1_2026-01-12T1137_a7972f86.md
  .spec-workflow/specs/session-history/tasks.md
  rust/src/scheduler/executor.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

chore(spec): mark task 2.2 as completed
  .spec-workflow/specs/session-history/Implementation Logs/task-2-2_2026-01-12T1142_db4fc93a.md
  .spec-workflow/specs/session-history/tasks.md
Due: none

feat(api): add session history API endpoints
  .spec-workflow/specs/session-history/tasks.md
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(ui): add session history screen with accessor functions
  .dart_tool/package_config.json
  .dart_tool/package_graph.json
  .spec-workflow/specs/session-history/Implementation Logs/task-3-1_2026-01-12T1146_2ea2334e.md
  .spec-workflow/specs/session-history/tasks.md
  ios/Runner/bridge_generated.h
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  lib/src/screens/history_screen.dart
  pubspec.lock
  pubspec.yaml
  rust/src/api.rs
  rust/src/frb_generated.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(ui): add session detail screen with HR chart
  .dart_tool/package_config.json
  .dart_tool/package_graph.json
  .spec-workflow/specs/session-history/Implementation Logs/task-3-2_2026-01-12T1150_04c53464.md
  .spec-workflow/specs/session-history/tasks.md
  lib/src/app.dart
  lib/src/screens/session_detail_screen.dart
  pubspec.lock
  pubspec.yaml
Due: flutter-format, flutter-analyze

feat(ui): add history navigation to app
  .spec-workflow/specs/session-history/tasks.md
  lib/src/app.dart
  lib/src/screens/home_screen.dart
Due: flutter-format, flutter-analyze

test(history): add comprehensive session history integration tests
  .spec-workflow/specs/session-history/tasks.md
  rust/tests/session_history_test.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

docs(spec): add implementation logs for tasks 3.3, 4.1, and 4.2
  .spec-workflow/specs/session-history/Implementation Logs/task-3-3_2026-01-12T1155_e4f68e91.md
  .spec-workflow/specs/session-history/Implementation Logs/task-4-1_2026-01-12T1157_3ae959b6.md
  .spec-workflow/specs/session-history/Implementation Logs/task-4-2_2026-01-12T1202_3d4daf3f.md
Due: none

feat(domain): add SessionProgress types for workout UI updates
  .spec-workflow/specs/workout-execution/tasks.md
  rust/src/domain/mod.rs
  rust/src/domain/session_progress.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(executor): add progress emission to SessionExecutor
  .spec-workflow/specs/workout-execution/tasks.md
  rust/src/scheduler/executor.rs
  rust/src/state/session.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(api): add workout control API functions
  .spec-workflow/specs/workout-execution/Implementation Logs/task-1-1_2026-01-12T1206_3f13df6b.md
  .spec-workflow/specs/workout-execution/Implementation Logs/task-1-2_2026-01-12T1212_03485767.md
  .spec-workflow/specs/workout-execution/Implementation Logs/task-2-1_2026-01-12T1216_e42bba3e.md
  .spec-workflow/specs/workout-execution/tasks.md
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(ui): add plan selector bottom sheet widget
  .spec-workflow/specs/workout-execution/tasks.md
  ios/Runner/bridge_generated.h
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  lib/src/widgets/plan_selector.dart
  rust/src/frb_generated.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

feat(ui): add WorkoutScreen for workout execution
  .spec-workflow/specs/workout-execution/Implementation Logs/task-2-2_2026-01-12T1220_56c927cb.md
  .spec-workflow/specs/workout-execution/tasks.md
  ios/Runner/bridge_generated.h
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  lib/src/screens/workout_screen.dart
  rust/src/api.rs
  rust/src/frb_generated.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

docs(spec): mark task 3.1 as completed
  .spec-workflow/specs/workout-execution/Implementation Logs/task-3-1_2026-01-12T1227_3052bd8a.md
  .spec-workflow/specs/workout-execution/tasks.md
Due: none

feat(ui): add PhaseProgressWidget for workout phase visualization
  .spec-workflow/specs/workout-execution/Implementation Logs/task-3-2_2026-01-12T1230_b77e773c.md
  .spec-workflow/specs/workout-execution/tasks.md
  lib/src/screens/workout_screen.dart
  lib/src/widgets/phase_progress.dart
Due: flutter-format, flutter-analyze

feat(ui): add ZoneFeedbackWidget for zone deviation alerts
  .spec-workflow/specs/workout-execution/tasks.md
  lib/src/screens/workout_screen.dart
  lib/src/widgets/zone_feedback.dart
Due: flutter-format, flutter-analyze

feat(ui): extract SessionControls widget from WorkoutScreen
  .spec-workflow/specs/workout-execution/tasks.md
  lib/src/screens/workout_screen.dart
  lib/src/widgets/session_controls.dart
Due: flutter-format, flutter-analyze

feat(ui): add workout route and navigation from session screen
  lib/src/app.dart
  lib/src/screens/session_screen.dart
Due: flutter-format, flutter-analyze

docs(spec): mark task 4.2 as completed
  .spec-workflow/specs/workout-execution/tasks.md
Due: none

docs(spec): add comprehensive end-to-end test report for workout execution
  .spec-workflow/specs/workout-execution/TEST-REPORT.md
Due: none

docs(spec): mark task 5.1 as completed
  .spec-workflow/specs/workout-execution/tasks.md
Due: none

docs(spec): add implementation logs for workout execution tasks 3.3, 4.1, 4.2, and 5.1
  .spec-workflow/specs/workout-execution/Implementation Logs/task-3-3_2026-01-12T1235_2f5c6ded.md
  .spec-workflow/specs/workout-execution/Implementation Logs/task-4-1_2026-01-12T1237_b7deae0b.md
  .spec-workflow/specs/workout-execution/Implementation Logs/task-4-2_2026-01-12T1240_1f2eb2a1.md
  .spec-workflow/specs/workout-execution/Implementation Logs/task-5-1_2026-01-12T1246_57c9fd2e.md
Due: none

fix(docs): add missing import in btleplug_adapter doctest
  rust/src/adapters/btleplug_adapter.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(export): add CSV, JSON, and summary export formatters
  .spec-workflow/specs/data-export/tasks.md
  rust/src/domain/export.rs
  rust/src/domain/mod.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(export): add export API with CSV, JSON, and Summary formats
  .spec-workflow/specs/data-export/tasks.md
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib

feat(export): add share_plus dependency for native sharing
  .spec-workflow/specs/data-export/tasks.md
  pubspec.lock
  pubspec.yaml
Due: none

feat(export): create ShareService for content sharing
  .spec-workflow/specs/data-export/tasks.md
  lib/src/services/share_service.dart
Due: flutter-format, flutter-analyze

feat(export): add export menu to SessionDetailScreen
  .dart_tool/package_config.json
  .dart_tool/package_graph.json
  .flutter-plugins-dependencies
  .spec-workflow/specs/data-export/Implementation Logs/task-1-1_2026-01-12T1300_4f027a50.md
  .spec-workflow/specs/data-export/Implementation Logs/task-1-2_2026-01-12T1300_867712fc.md
  .spec-workflow/specs/data-export/Implementation Logs/task-2-2_2026-01-12T1303_27a3dfcc.md
  .spec-workflow/specs/data-export/tasks.md
  android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  ios/Runner/GeneratedPluginRegistrant.m
  ios/Runner/bridge_generated.h
  lib/src/bridge/api_generated.dart/api.dart
  lib/src/bridge/api_generated.dart/frb_generated.dart
  lib/src/bridge/api_generated.dart/frb_generated.io.dart
  lib/src/bridge/api_generated.dart/frb_generated.web.dart
  lib/src/screens/session_detail_screen.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  pubspec.lock
  pubspec.yaml
  rust/src/frb_generated.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

docs(spec): mark task 3.1 as completed in data-export spec
  .spec-workflow/specs/data-export/Implementation Logs/task-3-1_2026-01-12T1306_6230e457.md
  .spec-workflow/specs/data-export/tasks.md
Due: none

feat(export): add batch export to HistoryScreen
  .dart_tool/package_config.json
  .dart_tool/package_graph.json
  .spec-workflow/specs/data-export/tasks.md
  lib/src/screens/history_screen.dart
  pubspec.lock
  pubspec.yaml
Due: flutter-format, flutter-analyze

docs(spec): mark task 3.2 as completed in data-export spec
  .spec-workflow/specs/data-export/tasks.md
Due: none

docs(spec): mark task 4.1 as completed in data-export spec
  .spec-workflow/specs/data-export/Implementation Logs/task-3-2_2026-01-12T1312_7f9355aa.md
  .spec-workflow/specs/data-export/Implementation Logs/task-4-1_2026-01-12T1314_f2a7c6a7.md
  .spec-workflow/specs/data-export/tasks.md
Due: none

docs(spec): mark task 4.2 as completed and add testing checklist
  .spec-workflow/specs/data-export/TESTING-CHECKLIST.md
  .spec-workflow/specs/data-export/tasks.md
Due: none

feat(profile): create UserProfile model with JSON serialization
  .spec-workflow/specs/user-profile/tasks.md
  lib/src/models/user_profile.dart
Due: flutter-format, flutter-analyze

feat(profile): create ProfileService singleton for profile management
  .spec-workflow/specs/user-profile/Implementation Logs/task-1-1_2026-01-12T1321_02fb68ad.md
  .spec-workflow/specs/user-profile/Implementation Logs/task-1-2_2026-01-12T1322_fb2dc051.md
  .spec-workflow/specs/user-profile/tasks.md
  lib/src/services/profile_service.dart
Due: flutter-format, flutter-analyze

docs(spec): mark task 2.1 as completed in user-profile spec
  .spec-workflow/specs/user-profile/tasks.md
Due: none

Path conditions:
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  cargo-test-lib: any of: \.rs$
  flutter-format: any of: \.dart$
  flutter-analyze: any of: \.dart$
