Repository RyosukeMondo/heart-beat2: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=500']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: mixed-line-ending
        name: Check line endings

  # Rust checks
  - repo: local
    hooks:
      - id: cargo-check
        name: Cargo check
        entry: bash -c 'cd rust && cargo check --all-features'
        language: system
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: Cargo clippy
        entry: bash -c 'cd rust && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: \.rs$

      - id: cargo-fmt
        name: Cargo format
        entry: bash -c 'cd rust && cargo fmt --all -- --check'
        language: system
        pass_filenames: false
        files: \.rs$

      - id: cargo-test-lib
        name: Cargo test (unit tests only)
        entry: bash -c 'cd rust && cargo test --lib'
        language: system
        pass_filenames: false
        files: \.rs$

  # Flutter/Dart checks
  - repo: local
    hooks:
      - id: flutter-format
        name: Flutter format
        entry: bash -c 'flutter format --set-exit-if-changed lib/'
        language: system
        pass_filenames: false
        files: \.dart$

      - id: flutter-analyze
        name: Flutter analyze
        entry: bash -c 'flutter analyze'
        language: system
        pass_filenames: false
        files: \.dart$

feat(flutter-widget-tests): add widget test CI script
  .spec-workflow/specs/flutter-widget-tests/Implementation Logs/task-7_2026-01-13T1236_a2af4157.md
  .spec-workflow/specs/flutter-widget-tests/tasks.md
  scripts/test-widgets.sh
Due: none

feat(flutter-integration-tests): add comprehensive test helpers
  .spec-workflow/specs/flutter-integration-tests/tasks.md
  integration_test/test_helpers.dart
Due: flutter-format, flutter-analyze

docs(flutter-integration-tests): mark task 1 as completed
  .spec-workflow/specs/flutter-integration-tests/tasks.md
Due: none

feat(flutter-integration-tests): add comprehensive connection flow integration tests
  .spec-workflow/specs/flutter-integration-tests/Implementation Logs/task-1_2026-01-13T1240_f0dd910c.md
  .spec-workflow/specs/flutter-integration-tests/Implementation Logs/task-2_2026-01-13T1242_8a4229c2.md
  .spec-workflow/specs/flutter-integration-tests/tasks.md
  integration_test/connection_flow_test.dart
Due: flutter-format, flutter-analyze

feat(flutter-integration-tests): add workout start flow integration test
  .spec-workflow/specs/flutter-integration-tests/tasks.md
  integration_test/workout_flow_test.dart
  lib/src/screens/workout_screen.dart
Due: flutter-format, flutter-analyze

feat(flutter-integration-tests): add workout execution flow integration test
  .spec-workflow/specs/flutter-integration-tests/Implementation Logs/task-3_2026-01-13T1248_67923843.md
  .spec-workflow/specs/flutter-integration-tests/Implementation Logs/task-4_2026-01-13T1252_918f3a15.md
  .spec-workflow/specs/flutter-integration-tests/tasks.md
  integration_test/workout_execution_test.dart
Due: flutter-format, flutter-analyze

feat(flutter-integration-tests): add settings flow integration test
  .spec-workflow/specs/flutter-integration-tests/Implementation Logs/task-5_2026-01-13T1257_583e5356.md
  .spec-workflow/specs/flutter-integration-tests/tasks.md
  integration_test/settings_flow_test.dart
Due: flutter-format, flutter-analyze

feat(flutter-integration-tests): add history flow integration test
  .spec-workflow/specs/flutter-integration-tests/tasks.md
  integration_test/history_flow_test.dart
  integration_test/test_helpers.dart
Due: flutter-format, flutter-analyze

feat(flutter-integration-tests): add integration test CI script
  .spec-workflow/specs/flutter-integration-tests/tasks.md
  scripts/test-integration.sh
Due: none

feat(flutter-golden-tests): set up golden test infrastructure
  .spec-workflow/specs/flutter-golden-tests/Implementation Logs/task-1_2026-01-13T1306_3c91f3d0.md
  .spec-workflow/specs/flutter-golden-tests/tasks.md
  test/golden/golden_infrastructure_test.dart
  test/golden/golden_test_helpers.dart
Due: flutter-format, flutter-analyze

feat(flutter-golden-tests): add HrDisplay golden tests
  .spec-workflow/specs/flutter-golden-tests/Implementation Logs/task-2_2026-01-13T1308_98e3245f.md
  .spec-workflow/specs/flutter-golden-tests/tasks.md
  test/golden/goldens/hr_display_0bpm.png
  test/golden/goldens/hr_display_111bpm_tabular.png
  test/golden/goldens/hr_display_120bpm_dark.png
  test/golden/goldens/hr_display_150bpm.png
  test/golden/goldens/hr_display_200bpm.png
  test/golden/goldens/hr_display_255bpm.png
  test/golden/goldens/hr_display_5bpm.png
  test/golden/goldens/hr_display_60bpm.png
  test/golden/hr_display_golden_test.dart
Due: flutter-format, flutter-analyze

feat(flutter-golden-tests): add ZoneIndicator golden tests
  .spec-workflow/specs/flutter-golden-tests/Implementation Logs/task-3_2026-01-13T1309_01e7ca9a.md
  .spec-workflow/specs/flutter-golden-tests/tasks.md
  test/golden/goldens/zone_indicator_zone1.png
  test/golden/goldens/zone_indicator_zone1_dark.png
  test/golden/goldens/zone_indicator_zone2.png
  test/golden/goldens/zone_indicator_zone3.png
  test/golden/goldens/zone_indicator_zone4.png
  test/golden/goldens/zone_indicator_zone5.png
  test/golden/goldens/zone_indicator_zone5_dark.png
  test/golden/zone_indicator_golden_test.dart
Due: flutter-format, flutter-analyze

feat(flutter-golden-tests): add PhaseProgress golden tests
  .spec-workflow/specs/flutter-golden-tests/Implementation Logs/task-4_2026-01-13T1311_5cad6182.md
  .spec-workflow/specs/flutter-golden-tests/tasks.md
  test/golden/goldens/phase_progress_0percent.png
  test/golden/goldens/phase_progress_100percent.png
  test/golden/goldens/phase_progress_active.png
  test/golden/goldens/phase_progress_cooldown.png
  test/golden/goldens/phase_progress_dark.png
  test/golden/goldens/phase_progress_interval.png
  test/golden/goldens/phase_progress_recovery.png
  test/golden/goldens/phase_progress_time_format.png
  test/golden/goldens/phase_progress_warmup.png
  test/golden/phase_progress_golden_test.dart
Due: flutter-format, flutter-analyze

feat(flutter-golden-tests): add ConnectionBanner golden tests
  .spec-workflow/specs/flutter-golden-tests/tasks.md
  test/golden/connection_banner_golden_test.dart
  test/golden/goldens/connection_banner_disconnected.png
  test/golden/goldens/connection_banner_failed.png
  test/golden/goldens/connection_banner_failed_unknown.png
  test/golden/goldens/connection_banner_reconnecting.png
  test/golden/goldens/connection_banner_reconnecting_first.png
  test/golden/goldens/connection_banner_reconnecting_last.png
Due: flutter-format, flutter-analyze

docs(flutter-golden-tests): log task 5 implementation
  .spec-workflow/specs/flutter-golden-tests/Implementation Logs/task-5_2026-01-13T1315_6a225d25.md
Due: none

feat(flutter-golden-tests): add full screen golden tests
  .spec-workflow/specs/flutter-golden-tests/Implementation Logs/task-6_2026-01-13T1319_33d0d094.md
  .spec-workflow/specs/flutter-golden-tests/tasks.md
  .spec-workflow/specs/flutter-integration-tests/Implementation Logs/task-6_2026-01-13T1301_168b602a.md
  .spec-workflow/specs/flutter-integration-tests/Implementation Logs/task-7_2026-01-13T1303_1bb9fd78.md
  test/golden/goldens/home_screen_empty.png
  test/golden/goldens/session_screen.png
  test/golden/goldens/workout_screen.png
  test/golden/goldens/workout_screen_cooldown.png
  test/golden/goldens/workout_screen_warmup.png
  test/golden/screens_golden_test.dart
Due: flutter-format, flutter-analyze

feat(flutter-golden-tests): add golden test CI script
  scripts/test-golden.sh
Due: none

docs(flutter-golden-tests): log task 7 implementation
  .spec-workflow/specs/flutter-golden-tests/tasks.md
Due: none

feat(dart-cli-tool): add CLI entry point with arg parsing
  .spec-workflow/specs/dart-cli-tool/tasks.md
  bin/dart_cli.dart
  pubspec.lock
  pubspec.yaml
Due: flutter-format, flutter-analyze

feat(dart-cli-tool): add scan command to discover BLE devices
  .spec-workflow/specs/dart-cli-tool/tasks.md
  bin/dart_cli.dart
Due: flutter-format, flutter-analyze

feat(dart-cli-tool): add connect command to stream HR data
  .spec-workflow/specs/dart-cli-tool/Implementation Logs/task-1_2026-01-13T1327_c46341b2.md
  .spec-workflow/specs/dart-cli-tool/Implementation Logs/task-2_2026-01-13T1330_39f76eeb.md
  .spec-workflow/specs/dart-cli-tool/Implementation Logs/task-3_2026-01-13T1334_214af18c.md
  .spec-workflow/specs/dart-cli-tool/tasks.md
  bin/dart_cli.dart
Due: flutter-format, flutter-analyze

feat(dart-cli-tool): add list-plans command to display training plans
  .spec-workflow/specs/dart-cli-tool/Implementation Logs/task-4_2026-01-13T1337_e642b69b.md
  .spec-workflow/specs/dart-cli-tool/tasks.md
  bin/dart_cli.dart
Due: flutter-format, flutter-analyze

feat(dart-cli-tool): add start-workout command with real-time progress
  .spec-workflow/specs/dart-cli-tool/Implementation Logs/task-5_2026-01-13T1339_fde98e29.md
  .spec-workflow/specs/dart-cli-tool/tasks.md
  bin/dart_cli.dart
Due: flutter-format, flutter-analyze

feat(dart-cli-tool): add history command to view workout sessions
  .spec-workflow/specs/dart-cli-tool/Implementation Logs/task-6_2026-01-13T1343_ffc68240.md
  .spec-workflow/specs/dart-cli-tool/tasks.md
  bin/dart_cli.dart
Due: flutter-format, flutter-analyze

feat(dart-cli-tool): add profile command to view and modify user profile
  .spec-workflow/specs/dart-cli-tool/tasks.md
  bin/cli_profile_service.dart
  bin/dart_cli.dart
Due: flutter-format, flutter-analyze

feat(dart-cli-tool): add automated test script for CLI smoke tests
  .spec-workflow/specs/dart-cli-tool/tasks.md
  scripts/test-dart-cli.sh
Due: none

docs(dart-cli-tool): add implementation log for task 8
  .spec-workflow/specs/dart-cli-tool/Implementation Logs/task-7_2026-01-13T1349_b5908c9f.md
  .spec-workflow/specs/dart-cli-tool/Implementation Logs/task-8_2026-01-13T1354_01f8e7c6.md
Due: none

feat(dart-cli-tool): register dart_cli as global executable
  .spec-workflow/specs/dart-cli-tool/tasks.md
  pubspec.yaml
Due: none

docs(dart-cli-tool): add implementation log for task 9
  .spec-workflow/specs/dart-cli-tool/Implementation Logs/task-9_2026-01-13T1356_b7c4567a.md
Due: none

chore: auto-commit changes
  .dart_tool/package_graph.json
  .spec-workflow/specs/flutter-golden-tests/Implementation Logs/task-7_2026-01-13T1323_689cef67.md
  .spec-workflow/specs/frb-api/tasks.md
Due: none

fix: resolve Flutter lint errors (deprecated APIs, unused fields, overrides)
  bin/dart_cli.dart
  lib/main.dart
  lib/src/models/user_profile.dart
  lib/src/screens/history_screen.dart
  lib/src/screens/session_screen.dart
  lib/src/screens/workout_screen.dart
  lib/src/services/audio_feedback_service.dart
  lib/src/widgets/debug_console.dart
  lib/src/widgets/debug_console_overlay.dart
  test/golden/golden_infrastructure_test.dart
  test/golden/screens_golden_test.dart
  test/services/profile_service_test.dart
  test/widgets/connection_banner_test.dart
  test/widgets/zone_indicator_test.dart
Due: flutter-format, flutter-analyze

fix: resolve all CI/CD failures (dart format, golden tests, Rust test)
  .github/workflows/ci.yml
  pubspec.lock
  rust/src/api.rs
  test/golden/flutter_test_config.dart
  test/golden/golden_test_helpers.dart
  test/golden/goldens/workout_screen.png
  test/golden/goldens/workout_screen_cooldown.png
  test/golden/goldens/workout_screen_warmup.png
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib, flutter-format, flutter-analyze

chore(gitignore): exclude iOS build artifacts and untrack generated env script
  .gitignore
  ios/Flutter/flutter_export_environment.sh
Due: none

feat(ios): wire iOS Rust FFI loader and Bluetooth permission flow
  lib/main.dart
  lib/src/screens/home_screen.dart
Due: flutter-format, flutter-analyze

refactor(rust): unify log fanout via broadcast channel for mobile path
  rust/src/api.rs
Due: cargo-check, cargo-clippy, cargo-fmt, cargo-test-lib
